.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #B4BBF4;
    padding: 30px;
}
html{

    background: aliceblue;

}
.container .item{
    max-width: 350px;
    background: beige;
    padding: 15px 20px;
    margin: 10px;
    /* margin-right: 20px; */

}